.Table {
    width: 100%;
    border-collapse:collapse;
    border-spacing: 0;
}

/** modify every th but the first*/
.Table tbody tr:hover{
   background-color: var(--color1-dark);
}

.Table th {
    text-align: center;
    padding: 8px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.Table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
